body {
  color: rgb(204, 204, 204);
}
img {
  width: 330px;
  margin-top: 10px;
}
.card {
  background-color: rgb(247, 140, 0);
  width: 350px;
  margin: 20px;
  color: rgb(255, 255, 255);
}

body {
  background: url("https://rare-gallery.com/thumbnail/38424-Logo-Soccer-Emblem-Crest-SymbolA.S.-Roma-HD-Wallpaper.png");
}

footer {
  background-color: rgb(246, 134, 6);
}
